.card {
  background-color: lightcoral;
  display: grid;
  grid-template-columns: 150px 1fr;
  padding: 30px;
}

.title {
  grid-column: 2;
  grid-row: 1;
}

.number {
  grid-column: 1;
  grid-row: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.descr {
  grid-column: 2 / -1;
  grid-row: 2;
  padding: 30px;

  white-space: nowrap; /* Запрещаем перенос текста на новую строку */
  overflow: hidden; /* Скрываем все, что не помещается в контейнере */
  text-overflow: ellipsis;
}

.btn {
  grid-column: 1 / -1;
  grid-row: 3;
}
